<?xml version="1.0" encoding="UTF-8"?>
<ioc:beans xmlns:ioc="http://www.gotoeasy.top/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.gotoeasy.top/schema/beans gotoeasy-beans.xsd">

	<bean id="cnt" class="int" value="100" />
	
	<bean id="xmlBean2601" class="top.gotoeasy.framework.ioc.beanconfig.config26.Bean2601">
		<property name="bean" ref="bean2602" />
		<property name="cnt" ref="cnt" />
	</bean>
	
	<bean id="xmlBean2602" class="top.gotoeasy.framework.ioc.beanconfig.config26.Bean2602">
		<constructor>
			<arg ref="xmlBean2601" />
		</constructor>
		<property name="bean1" ref="bean2601" />
		<property name="cnt" ref="cnt" />
	</bean>

	<bean id="xmlBean2603" class="top.gotoeasy.framework.ioc.beanconfig.config26.Bean2603">
		<property name="bean2604" ref="xmlBean2604" />
	</bean>
	<bean id="xmlBean2604" class="top.gotoeasy.framework.ioc.beanconfig.config26.Bean2604">
		<property name="bean2605" ref="xmlBean2605" />
	</bean>
	<bean id="xmlBean2605" class="top.gotoeasy.framework.ioc.beanconfig.config26.Bean2605">
		<property name="bean2603" ref="xmlBean2603" />
	</bean>

</ioc:beans>
